* {
  box-sizing: border-box;
}

.sobreNosotros3 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  background: #ffffff;
  padding-bottom: 90px;
  width: 1728px;
  height: 2088px;
  overflow: hidden;

  .langostinos {
    position: absolute;
    top: 405px;
    left: -84px;
    opacity: 0.2;
    width: 395px;
    height: 424px;
    rotate: 47deg;
  }

  .navWeb {
    display: flex;
    align-items: center;
    column-gap: 16px;
    z-index: 1;
    box-shadow: inset 0px -1px 0px 0px #0000000d, 0px 1px 0px 0px #00000026;
    background: #ffffff;
    padding: 16px;
    width: 1728px;

    .back {
      flex-shrink: 0;
      width: 24px;
      height: 24px;
      overflow: hidden;
    }

    .iconosBotones {
      display: inline-flex;
      flex-shrink: 0;
      align-items: center;
      column-gap: 12px;
    }

    .addressBar {
      display: flex;
      flex-grow: 1;
      align-items: center;
      justify-content: space-between;
      border-radius: 46px;
      background: #48dfd61a;
      padding: 6px 16px;
      overflow: hidden;

      .uRl {
        display: flex;
        flex-grow: 1;
        align-items: center;
        column-gap: 8px;

        .iconoSeguridad {
          flex-shrink: 0;
          width: 15px;
          height: 15px;
          overflow: hidden;
        }

        .text {
          flex-grow: 1;
          line-height: 24px;
          letter-spacing: 0.5px;
          color: #061854;
          font-family: Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 16px;
        }
      }

      .iconoFavoritos {
        flex-shrink: 0;
        width: 20px;
        height: 20px;
        overflow: hidden;
      }
    }

    .iconoAvatar {
      display: flex;
      flex-shrink: 0;
      align-items: center;
      border-radius: 109px;
      background: #061854;
      padding: 3px 8px 1px 9px;
      overflow: hidden;

      .a {
        line-height: 24px;
        letter-spacing: 0.5px;
        color: #ffffff;
        font-family: Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 16px;
      }
    }
  }

  .cebolla {
    position: absolute;
    top: 107px;
    left: 1336px;
    opacity: 0.2;
    width: 532px;
    height: 532px;
  }

  .culantro {
    position: absolute;
    top: 145px;
    left: 688px;
    opacity: 0.2;
    width: 380px;
    height: 380px;
    rotate: -50deg;
  }

  .pescado {
    position: absolute;
    top: 820px;
    left: 1360px;
    opacity: 0.2;
    width: 494px;
    height: 473px;
    rotate: 18deg;
  }

  .pescado2 {
    position: absolute;
    top: 1135px;
    left: -51px;
    opacity: 0.2;
    width: 277px;
    height: 266px;
    rotate: -140deg;
  }

  .navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 278px;
    z-index: 2;
    background: #ffffff;
    padding: 22px 180px;
    width: 1728px;
    height: 98px;

    .logoMareaPicante {
      flex-shrink: 0;
      width: 344px;
      height: 86px;
    }

    .menubar {
      display: flex;
      flex-shrink: 0;
      align-items: center;
      justify-content: center;
      column-gap: 47px;
      width: 394px;
      height: 20px;

      .inicio {
        flex-shrink: 0;
        line-height: 16px;
        letter-spacing: 0;
        color: #061854;
        font-family: "David Libre", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 16px;
      }

      .sobreNosotros {
        flex-shrink: 0;
        line-height: 16px;
        letter-spacing: 0;
        color: #061854;
        font-family: "David Libre", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 16px;
        font-weight: 700;
      }
    }

    .btn {
      display: flex;
      flex-shrink: 0;
      align-items: center;
      border-radius: 15px 4px;
      background: #061854;
      padding: 17px 27px 17px 28px;

      .contCtanos {
        line-height: 20px;
        letter-spacing: 0;
        color: #ffffff;
        font-family: "David Libre", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 20px;
        font-weight: 700;
      }
    }
  }

  .autoWrapper2 {
    display: flex;
    align-items: center;
    align-self: stretch;
    justify-content: space-between;
    z-index: 3;
    margin-top: 106px;
    padding-right: 234px;
    padding-left: 234px;

    .autoWrapper {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      align-self: stretch;

      .sobreNosotros2 {
        width: 499px;
        line-height: 72px;
        letter-spacing: 0;
        color: #061854;
        font-family: "David Libre", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 70px;
        font-weight: 700;
      }

      .contamosConMsDe10AOs {
        margin: 21px 0px 0px;
        width: 462px;
        line-height: 29px;
        letter-spacing: 0;
        color: #061854;
        font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 16px;
      }
    }

    .local1 {
      border-radius: 100px 40px;
      width: 606px;
      height: 455px;
    }
  }

  .backgroundSection {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    z-index: 4;
    margin-top: 90px;
    background: #0618540a;
    padding: 60px 234px;

    .autoWrapper3 {
      position: relative;
      margin-left: 346px;
      width: 568px;
      height: 99px;

      .nuestraFilosofA {
        position: absolute;
        top: 0;
        left: 0;
        padding: 0px 0px 37px;
        width: 568px;
        height: 99px;
        text-align: center;
        line-height: 62px;
        letter-spacing: 0;
        color: #061854;
        font-family: "David Libre", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 52px;
        font-weight: 700;
      }

      .enMareaPicanteCocina {
        position: absolute;
        top: 74px;
        right: -64px;
        width: 696px;
        height: 25px;
        text-align: center;
        line-height: 26px;
        letter-spacing: 0;
        color: #061854;
        font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 16px;
        font-weight: 500;
      }
    }

    .autoWrapper4 {
      display: flex;
      align-items: center;
      align-self: stretch;
      margin-top: 80px;
      padding-right: 349px;
      padding-left: 0;

      .vector {
        width: 22px;
        height: 42px;
      }

      .vector2 {
        margin-left: 6px;
        width: 22px;
        height: 42px;
      }

      .quote {
        margin-left: 379px;
        width: 51px;
        height: 42px;
      }
    }

    .autoWrapper5 {
      display: flex;
      align-items: center;
      align-self: stretch;
      justify-content: space-between;
      margin-top: 24px;
      padding-right: 0;
      padding-left: 0;

      .misiNBrindarUnaExper3 {
        width: 400px;
        line-height: 26px;
        letter-spacing: 0;
        color: #061854;
        font-size: 18px;

        .misiNBrindarUnaExper {
          line-height: 26px;
          letter-spacing: 0;
          color: #061854;
          font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 18px;
          font-weight: 700;
        }

        .misiNBrindarUnaExper2 {
          line-height: 26px;
          letter-spacing: 0;
          color: #061854;
          font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 18px;
        }
      }
    }
  }

  .autoWrapper11 {
    display: flex;
    align-items: flex-start;
    align-self: stretch;
    margin-top: 90px;
    padding-right: 272px;
    padding-left: 181px;

    .hOrariodeatencin {
      line-height: 39px;
      letter-spacing: 2.34px;
      color: #444d6b;
      font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 13px;
      font-weight: 700;
      text-transform: UPPERCASE;
    }

    .autoWrapper6 {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      align-self: stretch;

      .logoMareaPicante2 {
        width: 240px;
        height: 60px;
      }

      .enMareaPicanteCelebr {
        margin: 17px 0px 0px;
        width: 408px;
        line-height: 29px;
        letter-spacing: 0;
        color: #444d6b;
        font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 16px;
      }

      .group49 {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        align-self: stretch;
        margin-top: 31px;
        margin-right: 214px;

        .todosLosDAs930Ama600 {
          margin: 4px 0px 0px;
          width: 161px;
          line-height: 29px;
          letter-spacing: 0;
          color: #444d6b;
          font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 16px;
        }
      }
    }

    .group43 {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      margin-top: 22px;
      margin-left: 229px;
      width: 380px;
      min-width: 380px;

      .autoWrapper7 {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        align-self: stretch;

        .inicioCartaGalerASob {
          margin: 12px 0px 0px;
          width: 116px;
          line-height: 39px;
          letter-spacing: 0;
          color: #444d6b;
          font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 16px;
        }
      }

      .autoWrapper8 {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        align-self: stretch;

        .cevichesArrocesParih {
          margin: 12px 0px 0px 2px;
          width: 79px;
          line-height: 39px;
          letter-spacing: 0;
          color: #444d6b;
          font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 16px;
        }
      }
    }

    .autoWrapper10 {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      align-self: stretch;
      margin-top: 22px;
      margin-left: 166px;

      .sGuenos {
        margin: 0px 0px 0px 1px;
        line-height: 39px;
        letter-spacing: 2.34px;
        color: #444d6b;
        font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 13px;
        font-weight: 700;
        text-transform: UPPERCASE;
      }

      .autoWrapper9 {
        display: flex;
        align-items: center;
        align-self: stretch;
        justify-content: space-between;
        margin-top: 12px;
        padding-right: 0;
        padding-left: 0;

        .group46 {
          position: relative;
          width: 40px;
          height: 39px;

          .ellipse20 {
            position: absolute;
            top: 1px;
            left: 0;
            border: 1px solid #061854;
            border-radius: 50%;
            width: 40px;
            height: 38px;
          }

          .facebookF {
            position: absolute;
            top: 0;
            left: 15px;
            width: 11px;
            height: 39px;
            line-height: 39px;
            letter-spacing: 0;
            color: #061854;
            font-family: "Font Awesome 5 Brands", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 16px;
          }
        }

        .group48 {
          position: relative;
          width: 40px;
          height: 40px;

          .ellipse202 {
            position: absolute;
            top: 1px;
            left: 0;
            border: 1px solid #061854;
            border-radius: 50%;
            width: 40px;
            height: 39px;
          }

          .instagram {
            position: absolute;
            top: 0;
            left: 13px;
            width: 15px;
            height: 40px;
            line-height: 39px;
            letter-spacing: 0;
            color: #061854;
            font-family: "Font Awesome 5 Brands", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 16px;
          }
        }
      }
    }
  }

  .autoWrapper12 {
    display: flex;
    align-items: center;
    align-self: stretch;
    justify-content: space-between;
    margin-top: 164px;
    padding-right: 181px;
    padding-left: 181px;

    .a2025MareaPicanteTod {
      line-height: 29px;
      letter-spacing: 0;
      color: #444d6b;
      font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 16px;
    }
  }
}
